/* 
   Cox Lawn Care
   Kacie Rae
   10-16-18
   Stylesheet for index.html
 */

/* reset styles */
html {
   font-size: 16px;
}
a, article, body, div, figcaption, figure, footer, header, h1, h2, h3, img, nav, p, li {
   border: 0;
   padding: 0;
   margin: 0;
}

img {
   max-width: 100%;
   height: auto;
   width: auto;
}
header {
   padding: 0;
   background-color: #55d555;/* footer color */ 
   color: black; /*footer text color*/
   text-align: center;
}

head {
   padding: 0;
   text-align: center;
   line-height: 1.4;
   font-size: 300; 
}

/* body */
p.header{
   text-align: center;
   line-height:1.7;
   font-size: 30px;
   padding: .1em;
}

body {
   margin: 0 auto;
   font-family: Arial, Helvetica, sans-serif;
}
p {
   font-size: 1.3em;
   line-height: 1.6em;
}
li {
   font-size: 1.3em;
   line-height: 1.4em;
}
a:link {
   color: black;
}
a:visited {
   color: gray; /* don't know what this does either*/
}
/* skip navigation link */

p.skipnavigation a {
   left:-999px;
   position:absolute;
   top:4px;
   width:10px;
   height:1px;
   overflow:hidden;
   z-index:-999;
}
p.skipnavigation a {
   color: black;
   background-color:#55d555;
   left: 3px;
   top: 27px;
   width: 20%;
   height: auto;
   overflow:auto;
   /*margin: 10px 35%; where it is on the page/ centered */
   padding: 1px; /* how much space is around words*/
   border-radius: 1px;
   border:2px solid black;
   text-align:center;
   font-size: 18px;
   z-index:999;
}
p.skiptnavigation a:focus{
   color: 
}
p.skipnavigation a {
   position: absolute;
   font-size: 20px;
   color: black;
}
p.skipnavigation a:focus {
   color: white;
   background-color: white;
   
   
   right: .04em;
   z-index: 2;
}


/* header section */
h1 {
   top: center;
   text-align: center;
   font-family: Bitter, "Times New Roman", Times, serif;
   font-weight: 700;
   color: black;
   background-color: green;
   font-size: 2.4em;
}

/* site navigation bar */
nav.sitenavigation {
   color: yellow;
   text-align: center;
   background-color: #006500; /*this changes nav bar color*/
}
nav.sitenavigation p {
   margin: .3em .5em;
   display: inline-block;
}
nav.sitenavigation a:link {  
   text-decoration: none;
   color: #55d555; /* this color changes words of about us, home, services */
}
nav.sitenavigation a:visited {
   color: #55d555; /* this color changes after you click on heading link do*/
   text-shadow: : -4px  0 white, 0 4px white, 4px 0 white, 0 -4px white;
}
nav.sitenavigation a:hover, nav.sitenavigation a:focus {
   color: white; /* this changes color over hover*/
}

/* main content */
article { /* background on all other webpages other than index*/
   margin: 0 auto;
   background-color: #55d555;
  
   /*padding: 1.4em; puts space between nav bar and article box*/
   /*background: url("images/lake.jpg" changes background imagr*/
   }   
   
article div {
   max-width: 800px;
   margin: 0 auto;
   padding: 1.4em;
   background-color: ivory;
   overflow: auto;}
h2 {
   padding: .4em 0.4em 0;
   text-align: center;
   font-family: Bitter, "Times New Roman", Times, serif;
   font-size: 2em;
   font-weight: 700;
}
h3 {
   margin-top: .6em;
   font-size: 1.6em;
   font-family: Bitter, "Times New Roman", Times, serif;
   font-weight: 700;
   clear: both;
}
li {
   font-size: 18px:
   padding: 1em;
}
article p {
   padding-top: 1em;
}
article li {
   padding-top: .25em;
}
article p.pullquote {
   font-size: 1.7em;
} 
article p.imagemap {
   text-align: center;
}
article p.imagemap img {
   border: 1px solid black;
   max-width: none;
}

/* footer section */
article figure {
   max-width: 100%;
   margin-left: 2em;
   float: right;
}
article figure.example {
   margin-top: 2em;
}
article figcaption {
   text-align: center;
}
footer {
   padding: .6em;
   background-color: #006500; /*#55d555 footer color */ 
   color: #55d555; /*footer text color*/
   text-align: center;
}
.accent {
   font-weight: bold;
}

/* print styles */
@media print {
   body, h1, article, footer {
      color: rgb(0,0,0);
      background-color: rgb(255,255,255);
   }
   body {
      max-width: 100%;
   }
   nav {
      display: none;
   }
}
@page {
   margin: 0.75in;
}

